* {
    font-size: 18px;
}

body {
    background-color: #0a2d3c;
    color: #fff;
}

.container {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
}

p {
    color: coral;
    font-size: 40px;
}

.countdown {
    display: flex;
    justify-content: center;
    width: 300px;
}
